
<form action="" id="addcardform"class="container my-2 form">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <textarea placeholder="Front of your Card" name="front" id="front" cols="30" rows="3" style="resize: none;"></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col d-flex justify-content-center">                    
            <textarea placeholder="Back of your Card" name="back" id="back" cols="30" rows="3" style="resize: none;"></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <input id="addcardbtn" type="submit" class="btn btn-primary" value="Add">
        </div>
    </div>
</form>