<div class="navtabdiv container bg-primarypurple">
    <div class="row">
        <div id="revtab" class="col">
            <img src="../Assets/Flashcards.png" alt="">
        </div>
        <div id="decktab" class="col">
            <img src="../Assets/House Of Cards.png" alt="">
        </div>
        <div id='addtab'class="col">
            <img src="../Assets/Add.png" alt="">
        </div>
        <div id="settingstab" class="col">
            <img src="../Assets/Settings.png" alt="">
        </div>
        <div id='profiletab' class="col">
            <img src="../Assets/Test Account.png" alt="">
        </div>
    </div>
</div>