
<link href="../styles/profiletab.css" rel="stylesheet" type="text/css"/>
<div id="profiletabdiv"class='container'>
    <div class="row">
        <div class="col text-center">
            <h2>Profile</h2>
        </div>
    </div>
    <hr id="sectionbreak">
    <div class="row">
        <div class="col">Email</div>
        <div class="col" ><p id="email">...</p></div>
    </div>
    <hr id="sectionbreak">
    <div class="row">
        <div class="col">Cards created</div>
        <div class="col" id="total">0</div>
    </div>
    <div class="row">
        <div class="col">Cards Reviewed</div>
        <div class="col" id="reviewed">0</div>
    </div>
    <hr id="sectionbreak">
    <div class="row">
        <div class="col">
            <p id="logoutbtn">Logout</p>
        </div>
    </div>
</div>