<!-- <input id="getlistbtn" type="button" value="Get list"> -->

<div class="container m-0" id="revdiv">
    <div class="row">
        <div class="container text-center align-items-center" id="card">
            <div id="backbtn">🔙</div>
            <div class="row align-items-center h-100">
                <p id="cardFront">All the best...</p>
            </div>
        </div>
    </div>
    
    <div class="row" id="difftab">
        <div class="col">
            <button id="easy" class="diffbtn btn-primary w-100 rounded">Easy</button>
        </div>
        <div class="col">
            <button id="notsure" class="diffbtn btn-primary w-100 rounded">Not sure</button>
        </div>
        <div class="col">
            <button id="hard" class="diffbtn btn-primary w-100 rounded">Hard</button>
        </div>
    </div>
    <div class="row justify-content-center" id="showtab">
        <button id="showback" class="btn-primary w-50 rounded">Show</button>
    </div>
</div>


<!-- 

<table>
    <tr>
        <th>id</th>
        <th>front</th>
        <th>back</th>
        <th>box</th>
    </tr>
</table>
<table id="list">
    <tr>
        <td>0</td>
        <td>me</td>
        <td>you</td>
        <td>8</td>
    </tr>
</table> -->