:root {
    --primarypurple: #af00e9;
    --secondarypurple: #7a00a3;
    --primary: #6610;
    --hoverbb: #white;
    --border: 2px;
    --inputborder: blue;
    --inpbordersize: 1px solid black;
  }
.bg-primarypurple{
  background-color: var(--primarypurple);
}
.bg-secondarypurple{
  background-color: var(--secondarypurple);
}
#navtab{
  padding: 10px;
}
.navtabdiv{
  border: 1px solid black;
  border-radius: 17px;
  background-color: var(--secondarypurple);
}
#front,#back{
    width: 100%;
    text-align: center;
    border: var(--inpbordersize);
    border-radius: 7px;
    border-color: var(--inputborder)
}
h4{
    border-bottom: var(--border) solid #6610;
 }

#revdiv{
  width:360px; 
  height:100%;
}
#card{
  margin: 10px auto;
  width:300px; 
  height:240px;
  background-color: white;
  border-radius: 15px;
}
#mainbody{
  height: 407px;
  background-color: var(--primarypurple);
  padding: 10px;
}
.table>tr{
  bottom: black 2px;
}
.tabs{
  background-color: var(--primarypurple);
}
/* styles for login page */
.input-group-text{
  height: 38px !important;
}